%block-recepie {
  border: #{$border};
  background: #{$pink};
}

[class*="modal-recepie"] {
  border: #{$border};
  background: #{$pink};
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 355px;
  overflow: hidden;

  .grid-recepie {
    display: grid;
    grid-template-columns: 1.25fr .75fr;

    .block-img-recepie {
      position: relative;
    }

    img {
      width: 100%;
    }
  }

  &.mobile {
    height: 600px;
    .grid-recepie {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }

  }

  .btn-next,
  .btn-prev {
    z-index: 9;
    position: absolute;
    bottom: 23px;
    border: none;
    font-size: 24px;
    padding: 0;

    &:hover {
      transform: scale(1.1);
    }
  }

  .btn-prev {
    left: 2%;
  }

  .btn-next {
    right: 2%;
  }
}

@media #{$medium-up} {
  [class*="modal-recepie"] {
    width: 736px;
    height: 479px;

    .grid-recepie {
      height: 100%;

      .block-img-recepie {
        height: 100%;
        border-right: #{$border};
        position: relative;

        img {
          height: 100%;
        }
      }
    }
  }
}