%block-recepie {
  border: #{$border};
  background: #{$pink};
}

[class*="modal-recepie"] {
  border: #{$border};
  background: #{$pink};
  position: absolute;
  top: 51%;
  left: 51%;
  transform: translate(-50%, -50%);
  width: 355px;

  .grid-recepie {
    display: grid;
    grid-template-columns: 1.25fr .75fr;
    
    .block-img-recepie {
      position: relative;
    }
    img {
      width: 100%;
    }
  }

  .grid-step-recepie {
    padding: 23px;
    position: relative;

    .title-recepie {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
    }
  }
}

@media #{$medium-up} {
  [class*="modal-recepie"] {
    width: 736px;
    height: 479px;

    .grid-recepie {
      height: 100%;
      .block-img-recepie {
        height: 100%;
        position: relative;
        img {
          height: 100%;
        }
      }
    }
  }
}