[class*="modal-recepie"] {
  border: #{$border};
  background: #{$pink};
  position: absolute;
  top: 51%;
  left: 51%;
  transform: translate(-50%, -50%);
  width: 355px;

  .grid-recepie {
    display: grid;
    grid-template-rows: 1fr .75fr;

    img {
      width: 100%;
    }
  }
}