.bkg-mobile {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

    img {
        width: 70%;
        align-content: center;
    }
}

.block-img {
    position: fixed;
    right: 2%;
    top: 10%;

    img {
        width: 100%;
    }
}

@media (min-width: 370px) {
    .bkg-mobile {
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;

        img {
            width: 70%;
            align-content: center;
        }
    }
}

@media #{$medium-up} {
    .block-img {
        position: fixed;
        top: 5%;
        right: 15%;
    }

    .bkg-mobile {
        opacity: 0;
    }
}