// --------- Global
@import 'libs/variables';
@import 'libs/responsive';
@import 'libs/fonts';
@import 'libs/buttons';
@import 'libs/grids';

html,
body,
#root,
.main {
    margin: 0;
    width: 100%;
    height: 100%;
}

.main {
    position: relative;
}

.navbrand {
    height: 60px;
}

@media #{$medium-up} {
    .navbrand {
        height: 85px;
    }
}

@import './routes/map';
@import './routes/nav';
@import './routes/loading';

@import './components/scene';
@import './components/game';
@import './components/food';
@import './components/videos';
@import './components/slider';