// --------- Global
@import 'libs/variables';
@import 'libs/responsive';
@import 'libs/fonts';
@import 'libs/buttons';
@import 'libs/grids';

* {
    margin: 0;
    width: 100%;
    height: 100%;
}

$widthIllus: 174;

.illus-map {
    width: $widthIllus + 'px';
    height: $widthIllus + 'px';
}

@media only screen and (min-width: 992px) {
    $widthIllus: 180;
}