<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{% block title %}{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			<!-- Cookiefirst Traking BEGIN -->
			<script src="https://consent.cookiefirst.com/banner.js" data-cookiefirst-key="401bb93e-5265-46d5-8650-477f878d1211"></script>
			<!-- CookieFIRST Traking END -->
			<!-- Gobal site tag (gtag.js) - Google Analytics BEGIN -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156984796-23%22%3E"></script>
			<script>
				window.dataLayer = window.dataLayer || [];

function gtag() {
dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'UA-156984796-23');
			</script>
			<!-- Google Analytics END -->


			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}

	</body>
</html>
