.canvas-map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .illus-map {
    z-index: 3;

    .illus-map-img {
      opacity: 0;
    }
  }

  a {
    position: absolute;

    &.global {
      position: relative;
    }
  }

  a.global {
    -webkit-filter: grayscale(60%) !important;
    -moz-filter: grayscale(60%) !important;
    -ms-filter: grayscale(60%) !important;
    filter: grayscale(60%) !important;
  }

}