.canvas-map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .illus-map {
    z-index: 3;

    .illus-map-img {
      opacity: 0;
    }
  }

  a {
    position: absolute;

    &.global {
      position: relative;
    }
  }

  &.blinks {
    a.global {
      filter: grayscale(60%) !important;
    }
  }
}