.nav-1,
.nav-2 {
  position: relative;
  z-index: 22;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .border {
    &.menu {
      z-index: 22 !important;
    }

    border: #{$border};
    padding: 5px;
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .burger-box {
      position: relative;
      margin: auto;
      display: inline;
      width: 25px;
      height: 23px;
      cursor: pointer;

      .burger-bar {
        position: absolute;
        display: block;
        top: 50%;
        width: 25px;
        height: 3px;
        border-radius: 3px;
        background: #{$dark};
        margin-top: -1.5px;

        transition-property: transform;
        transition-timing-function: cubic-bezier(.55, .055, .675, .19);
        transition-duration: .22s;

        &::before,
        &::after {
          content: '';
          position: absolute;
          display: block;
          width: 25px;
          height: 3px;
          border-radius: 3px;
          background: #{$dark};
          transition-timing-function: ease;
        }

        &::before {
          top: -8px;
          transition: top .1s ease-in .25s, opacity .1s ease-in;
        }

        &::after {
          bottom: -8px;
          transition: bottom .1s ease-in .25s, transform .22s cubic-bezier(.55, .055, .675, .19);
        }
      }

      &.active {
        transition-delay: .12s;
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: rotate(225deg);

        .burger-bar {
          &::before {
            top: 0;
            transition: top .1s ease-out, opacity .1s ease-out .12s;
            opacity: 0;
          }

          &::after {
            bottom: 0;
            transition: bottom .1s ease-out, transform .22s cubic-bezier(.215, .61, .355, 1) .12s;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }

  .card-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      text-align: right;

      h5 {
        padding: 0;
        margin: 0;
      }
    }

    .icon {
      margin-right: auto;
    }
  }
}

.nav-2 {
  z-index: 22;
}

.nav-1 {
  padding-top: 3%;
  margin-bottom: 30px;
}

.sidebar {
  position: relative;
  z-index: 22;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 50px;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  right: 16px;
  visibility: hidden;

  .social-share {
    display: grid;
    padding-bottom: 30vh;
  }

  svg,
  .icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.canvas-nav-burger {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: -100vw;
  bottom: 0;
  width: 0;
  height: 100vh;
  padding-bottom: 60px;
  visibility: hidden;
  background-color: #{$aqua};
  border-left: #{$border};
  transition: all .8s ease-in-out;
  z-index: 20;

  // position: absolute;
  // height: 100%;
  // width: 300px;
  // background: aquamarine;
  // top: 0;
  // right: -110%;
  // z-index: 3;
  // transition: right 1s ease-in;

  &.open.desktop {
    //right: -50%;
    width: 18vw;
    right: 0;
    visibility: visible;
  }

  .navburger {
    padding: 20px;
    height: 100%;
    //display: flex;
    display: inline-flex;
    flex-direction: column;
    //align-items: center;
    //justify-content: center;
    justify-content: flex-end;

    .btn {
      margin-bottom: 1rem;
    }
  }

  &.open {
    //right: -78px;
    width: 100vw;
    right: 0;
    visibility: visible;
  }
}

@media #{$medium-up} {

  .nav-1 {

    .border {
      border: #{$border};
      padding: 10px;
    }
  }

  .nav-2 {
    .border {
      order: #{$border};
      width: 62px;
      height: 75px;
    }
  }

  .sidebar {
    visibility: visible;
  }
}